/* Basic Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, sans-serif;
	color: #333;
}
/* Container */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
/* Header */
header {
	background: #333;
	color: #fff;
	padding: 10px 0;
}
header div {
	text-align: center;
	line-height: 1.6;
}
header .logo {
	font-size: 24px;
	text-transform: uppercase;
}
header ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}
header ul li {
	flex: 1;
	display: inline;
}
header ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}
/* Hero Section */
.hero {
	background: url('images/hero_bg.gif') no-repeat center center / cover;
	color: #fff;
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.hero h1 {
	font-size: 48px;
	margin-bottom: 20px;
}
.hero p {
	font-size: 18px;
	margin-bottom: 30px;
}
.hero .btn {
	background:  #e8491d;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	display: inline-block;
}
.hero .btn:hover {
	background: #333;
}
/* Features Section */
.features {
	padding: 50px 0;
	text-align: center;
}
.features h2 {
	font-size: 36px;
	margin-bottom: 40px;
}
.feature-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}
.feature-item {
	padding: 20px;
	background: #f4f4f4;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: 300px;
}
.feature-item img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-bottom: 15px;
}
.feature-item h3 {
	font-size: 24px;
	margin-bottom: 15px;
}
/* About Section */
.about {
	background: #333;
	color: #fff;
	padding: 50px 0;
	text-align: center;
}
.about h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
.bout a {
	color: #ADD8E6;
}
/* Contact Section */
.contact {
	padding: 50px 0;
	text-align: center;
}
.contact h2 {
	font-size: 36px;
	margin-bottom: 20px;
}
.contact .social-media-links ul {
	list-style: none;
}
.contact .social-media-links ul li {
	display: inline;
	margin-right: 20px;
}
.contact .social-media-links ul li a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
}
/* Footer */
footer {
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}
footer p {
	margin: 0;
}
